.wrapper {
  margin-top: 2rem;
  width: 50%;
}

.user {
  color: rgba(255,255,255,.5);
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.analytics p {
  font-size: 1.5rem;
}

.log-table {
  width: 50%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: white;
}

.log {
  margin-bottom: 2rem;
}

.logout {
  margin-top: 0.5rem;
}

.section {
  padding: 2rem 1rem 2rem;
}

.section-colored {
  padding: 2rem 0rem 2rem;
  background-color: rgba(247,247,247,1);
}